pre {
  background-color: #f4f4f4;
  font-family: "Courier New", Courier, monospace;
  border-radius: 10px;
}
body {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 20px;
  background-color: #f4f4f4;
}
.container {
  max-width: 800px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding-right: 100px;
  padding-left: 100px;
  padding-bottom: 50px;
}
.asset {
  border: 1px solid #dddddd;
  padding: 10px;
  margin-bottom: 10px;
  max-width: 800px;
  margin: auto;
  background: lightgrey;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-top: 15px;
  border-radius: 50px;
}
button {
  background: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  margin: 5px;
}
input,
textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #cccccc;
  border-radius: 3px;
}
img {
  max-width: 100%;
  height: auto;
}
ul {
  list-style-type: square;
}

.hidden {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.visible {
    max-height: 500px; /* Zorg dat dit groot genoeg is voor de content */
    overflow: hidden;
    transition: max-height 0.3s ease-in;
}

h3 {
    cursor: pointer;
}
